body{
    color:rgb(248, 230, 253);
    background-color: rgb(32, 29, 27);
    font-family: 'Open Sans', sans-serif;
}

a {
    cursor: url("custom.png"), url("custom.cur"), default;
}

.container{
    font-size: 150px;
    
}

.fixed{
    background-color: rgb(248, 230, 253);
    width:50px;
    height:120px;
    border:1px solid;
    margin-top: 0;
    position:fixed;
    top:0;
    left:25px;
}
.fixed2{
    background-color: rgb(248, 230, 253);
    width: 775px;
    height:120px;
    border:1px solid;
    margin-top: 0;
    position:fixed;
    top:0;
    right:25px;
}

.poem{
    font-family: 'Open Sans', sans-serif;
}

.fixed3{
    background-color: rgb(248, 230, 253);
    width: 690px;
    height:120px;
    border:1px solid;
    margin-top: 200px;
    position:fixed;
    top:0;
    right:25px;
}

.fixed4{
    background-color: rgb(248, 230, 253);
    width: 780px;
    height:120px;
    border:1px solid;
    margin-top: 200px;
    position:fixed;
    top:0;
    left:25px;
}

.fixed5{
    background-color: rgb(248, 230, 253);
    width: 100px;
    height:120px;
    border:1px solid;
    margin-top: 200px;
    position:fixed;
    top:206px;
    right: 25px;
}
.fixed6{
    background-color: rgb(248, 230, 253);
    width: 455px;
    height:120px;
    border:1px solid;
    margin-top: 200px;
    position:fixed;
    top:400px;
    left: 25px;
}

.fixed7{
    background-color: rgb(248, 230, 253);
    width: 440px;
    height:120px;
    border:1px solid;
    margin-top: 200px;
    position:fixed;
    top:400px;
    right: 25px;
}

.fixed8{
    background-color: rgb(248, 230, 253);
    width: 580px;
    height:120px;
    border:1px solid;
    margin-top: 200px;
    position:fixed;
    top:606px;
    left: 25px;
}

.fixed9{
    background-color: rgb(248, 230, 253);
    width: 400px;
    height:120px;
    border:1px solid;
    margin-top: 200px;
    position:fixed;
    top:606px;
    right: 25px;
}