* {
    box-sizing: border-box;
}

body{
    margin:0%;
}

.main-container{
    background-color: rgb(238, 234, 255);
    display:flex;
    flex-direction:column;
    height:100vh;
    padding:10px;
}

.upper{
    background-color: rgb(190, 251, 231);
    width:100%;
    height:25%;
    display:flex;
    gap:10px;
}

.upper-item{
    background: mediumslateblue;
    width:100%;
}

.lower{
    background-color: rgb(253, 196, 228);
    width:100%;
    display:flex;
    height:75%;
    gap:10px;
}

.left{
    background-color: aquamarine;
    width:100%;
    display:felx;
    justify-content:center;
    align-items:center;
}

.center{
    background-color: blue;
    width:10%;
    height:10%;
}

.right{
    background-color: blue;
    width:100%;
}
